@{
    ViewData["Title"] = "登录";
}
<h2>@ViewData["Title"]</h2>
<hr />

@using (Html.BeginForm("test", "Home"))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

    <div class="form-group">
        @Html.Label("用户名", htmlAttributes: new { @class = "control-label" })
        @Html.Editor("username", new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.Label("密码", htmlAttributes: new { @class = "control-label" })
        @Html.Password("username", null, new { @class = "form-control" })@*用htmlAttributes会显示MVC风格而不是bootstrap风格*@
    </div>

    <div class="form-group">
        <input type="submit" value="登录" class="btn btn-default" />
    </div>
}
